# Ignore configuration files
wp-config.php

# Ignore the uploads directory
wp-content/uploads/

# Ignore cache directories
wp-content/cache/
wp-content/backup/

# Ignore node modules directory (if you use Node.js)
node_modules/

# Ignore environment variables file
.env

# Ignore htaccess file
.htaccess